---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import CardService from "../components/CardService.astro";
import ListExp from "../components/ListExp.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Header />
		<section
			class="color-yellow h-2/4"
		>
			<div id="containerInfo" class="flex items-center justify-center pt-30">
				<div class="w-2/4 text-black mx-10">
					<p class="text-7xl font-semibold">Service I Offer</p>
					<p class="my-10">We help ambitious business like your generate more profits by building awareness, 
						driving web traffic, connecting with customers and growing overall sales.</p>
		
				</div>		
				<div class="w-2/4 space-y-10 my-16 mx-10">
					<CardService numeration="1" title="Web UI/UX Design"></CardService>		
					<CardService numeration="2" title="Mobile App UI/UX Design"></CardService>		
					<CardService numeration="3" title="WebScraping"></CardService>		
					<CardService numeration="4" title="WebScraping"></CardService>		
				</div>		
			</div>		
			<div id="info-services" class="flex items-center justify-center pt-30 hidden">
				<div class="w-2/4 text-black mx-10">
					<p class="text-7xl font-semibold">HOLA</p>
					<p class="my-10">We help ambitious business like your generate more profits by building awareness, 
						driving web traffic, connecting with customers and growing overall sales.</p>

				</div>		
					
			</div>		
		</section>
		<section
			class="h-screen w-4/5"
		>	
			<div class="w-3/6 m-auto">
				<div class="w-5/6 text-7xl">
					<p >Skill &</p>
					<p>Experience</p>					
				</div>		
			</div>		
			<div class="w-3/6">
				<div>
					<ul aria-label="Colored activity feed" role="feed" class="relative flex flex-col gap-12 py-12 pl-8 before:absolute before:top-0 before:left-8 before:h-full before:border before:-translate-x-1/2 before:border-slate-200 before:border-dashed after:absolute after:top-6 after:left-8 after:bottom-6 after:border after:-translate-x-1/2 after:border-slate-200 ">
						<ListExp title="UI/UX project created" body="Task list created for project" date="07/01/2021" urlImg="./mcets_del_peru_logo.jpg"></ListExp>					
						<ListExp title="UI/UX project created" body="Task list created for project" date="07/01/2021" urlImg="./mcets_del_peru_logo.jpg"></ListExp>					
						<ListExp title="UI/UX project created" body="Task list created for project" date="07/01/2021" urlImg="./mcets_del_peru_logo.jpg"></ListExp>					
					  </ul>
				</div>
			</div>	
		</section>
	</main>
</Layout>


