---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		color-scheme: light ;
		/* background-image: radial-gradient(circle at 50% 94.49%, #90aff1 0, #3b3f4a 50%, #000000 100%);
		background-repeat: no-repeat; */
		height: 100vh;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}


	/* Paletas de colores */
	.color-black{
        color: #1A191E;
    }
	.color-yellow{
		color: #FBDA69;
		background-color: #FBDA69;
	} 
	.color-state-blue{
		color: #8874F1;
	}
	.bg-state-blue{
		background-color: #8874F1;
	}
	.color-photo-blue{
		color: #C1EFFE;
		background-color:#C1EFFE;
	}
</style>
